<nav class="navbar navbar-inverse" style="margin-bottom: 0px;">

  <div class="container-fluid" style="background-color: black;">

    <div class="navbar-header">
      <a class="navbar-brand" routerLink="NRCM_HOME">NITIN ROADWAYS</a>

    </div>
    <div class="navbar-header">
      <a class="navbar-brand" (click)="routeR('TRUCK')">Truck</a>
<a class="navbar-brand" (click)="routeR('PODPHOTO')">Poch</a>
<a class="navbar-brand" (click)="routeR('BILLPHOTO')">Poch</a>
    </div>
    
  </div>

</nav>

<div>
  <router-outlet></router-outlet>
</div>